argon2-cffi
asgiref  
certifi
cffi 
chardet
defusedxml 
Django
django-allauth==0.63.2
django-crispy-forms
django-debug-toolbar
django-environ 
django-model-utils
django-redis
djangorestframework==3.11.0
idna
oauthlib
pycparser
python-decouple
python-slugify
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
text-unidecode
urllib3
